footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--green);
    font-weight: 900;
}

footer a {
    color: var(--green);
    font-weight: 900;
}

footer a:hover{
    text-decoration: underline;
    font-size: larger;
}